.time-machine {
	width: 100vw;
	height: 100vh;
	display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgb(20,20,20);
    background-image: linear-gradient(to bottom, rgba(125, 125, 125, 0.5) 0%, rgba(10, 10, 10, 0.5) 100%), url('../black_denim.png');
    color: lime;
	.machine-counter {
		width: 20rem;
	    height: 20rem;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
		.counter {
			display: flex;
			width: 100%;
			flex: 1;
			align-items: center;
			justify-content: center;
		}
		.title {
			display: flex;

		}
		.radio-container {
			display: flex;
			width: 100%;
			height: 3rem;
			position: relative;
			border-radius: 0.5rem;
			background-image: linear-gradient(to bottom, rgba(10,10,10,0.6) 0%, rgba(45,45,45,0.6) 100%), url('../black_denim.png');
			border-top: 2px solid #222;
			border-right: 2px solid #444;
			border-bottom: 2px solid #666;
			border-left: 2px solid #444;
			span div {
				height: 2.6rem;
				width: 3.75rem;
				border-radius: 0.5rem;
				margin: 0.2rem auto;
				background: black;
			border-top: 2px solid #375690;
			border-right: 2px solid #1A2842;
			border-bottom: 2px solid #111A2A;
			border-left: 2px solid #1A2842;
				background: linear-gradient(to bottom, rgba(50, 78, 131, 1) 0%, rgba(43, 67, 113, 1) 10%, rgba(26, 40, 66, 1) 66%);
				box-shadow: inset 0 0 20px 5px white;
				box-shadow: 0 6px 16px rgba(0,0,0,0.75);
			}
			input[type='radio'] {
				display: none;
			}
			label {
				width: 25%;
				text-align: center;
				cursor: pointer;
				margin-top: -2rem;
				text-transform: uppercase;
				color: #181818;
				div {
					height: 1rem;
					width: 1rem;
					background: linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(35,35,35,1) 100%);
					box-shadow: inset 0 0 5px black;
					margin: 1.8rem auto;
					border-radius: 50%;
					// border: 1px solid black;
				}
			}
			&.future label.go_forward, &.past label.go_back, &.present label.go_home {
				color: lime;
				text-shadow: 0 0 4px lime;
			}
			&.stop label.stop {
				color: red;
				text-shadow: 0 0 4px red;
			}
			
			.toggle {
				position: absolute;
				height: 100%;
				width: 25%;
				left: 0;
				transition: left 0.4s ease;
			}
			&.past + lab {
				left: 0;
			}
			&.stop + span.toggle {
				left: 25%;
			}
			&.future + span.toggle {
				left: 50%;
			}
			&.present + span.toggle {
				left: 75%;
			}

			// &.past + span.toggle {
			// 	left: 0;
			// }
			// &.stop + span.toggle {
			// 	left: 25%;
			// }
			// &.future + span.toggle {
			// 	left: 50%;
			// }
			// &.present + span.toggle {
			// 	left: 75%;
			// }
		}
	}
}