@import url('https://fonts.googleapis.com/css?family=Geostar|Exo+2');
@import url('../fonts/font.css')

a, a:link, a:hover, a:visited {
	text-decoration: none;
	color: black;
}


.counter span {
	font-family: $title;
	font-size: 7rem;
	text-shadow: 0 -1px 3px rgba(0,0,0,0.5)
}
.radio-container label {
	font-family: $body;
	font-size: 1rem;
}
.title {
	font-family: $body;
	margin: 2rem;
	color: #181818;
}